This webscrapping exercise is based on the IBM Data Engineering Course


I'd be using websites that I visit often

First I need to import the libraries that are required

In [1]:
!mamba install bs4==4.10.0 -y
!pip install lxml==4.6.4
!mamba install html5lib==1.1 -y
# !pip install requests==2.26.0

'mamba' is not recognized as an internal or external command,
operable program or batch file.

Requirement already satisfied: lxml==4.6.4 in c:\users\patri\anaconda3\lib\site-packages (4.6.4)

'mamba' is not recognized as an internal or external command,
operable program or batch file.

Beautifulsoup Import!!

In [3]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web pagefrom

Downloading from one of my most visited website

In [4]:
url = "http://www.nairaland.com"

In [5]:
data  = requests.get(url).text

Creating a soup object using the Beautifulsoup constructor

In [6]:
soup = BeautifulSoup(data,"html.parser")

Time to scrap all links!!!

In [7]:
for link in soup.find_all('a',href=True):  # in html anchor/link is represented by the tag <a>

    print(link.get('href'))

https://www.nairaland.com/
/register
/login
/trending
/recent
/topics
/nairaland
/politics
/crime
/romance
/jobs
/career
/business
/investment
/nysc
/education
/autos
/cartalk
/properties
/health
/travel
/family
/culture
/religion
/food
/diaries
/ads
/pets
/agriculture
/entertainment
/jokes
/tv-movies
/music-radio
/celebs
/fashion
/events
/sports
/gaming
/forum-games
/literature
/science
/programming
/webmasters
/computers
/phones
/graphics-video
/techmarket
/hopto/home/14942
/hopto/home/111
/hopto/home/111
/news
http://twitter.com/nairaland
http://facebook.com/nigerianforum
https://www.nairaland.com/1049481/how-place-targeted-ads-nairaland
https://www.nairaland.com/6931614/nottingham-forest-knock-out-arsenal
https://www.nairaland.com/6931545/zlatan-equals-ronaldos-record-scoring
https://www.nairaland.com/6931736/governor-sanwo-olu-meets-nurses-resolves
https://www.nairaland.com/6931612/osinbajo-mali-crisis-ecowas-not
https://www.nairaland.com/6931623/osita-okechukwu-supporting-igbo-presidencyll
https://www.nairaland.com/6931479/cbns-quarterly-forex-intervention-been
https://www.nairaland.com/6931639/23-year-old-zimbabwean-prostitute-arrested-after
https://www.nairaland.com/6931200/ethopia-vs-cape-verde-afcon/1#109226924
https://www.nairaland.com/6931711/fire-guts-new-york-city
https://www.nairaland.com/6931677/kano-govt-bans-shisha-smoking
https://www.nairaland.com/6931665/army-refutes-reports-gun-battle
https://www.nairaland.com/6931654/iswap-reshuffles-cabinet-after-super
https://www.nairaland.com/6931416/bunch-plantain-spotted-juju-tied
https://www.nairaland.com/6931385/papaya-ex-controversial-photoshoot-using
https://www.nairaland.com/6930496/one-fact-every-wig-wearing
https://www.nairaland.com/6888227/nottingham-forest-vs-arsenal-fa/2#109225439
https://www.nairaland.com/6931264/strike-lagos-nurses-walk-out
https://www.nairaland.com/6931255/zaidu-sanusi-keep-salah-quiet
https://www.nairaland.com/6931120/sugar-daddy-tattoos-side-chics
https://www.nairaland.com/6931514/terhemen-anongo-man-castrates-self
https://www.nairaland.com/6929396/afcon-2021-cameroon-vs-burkina/3#109222221
https://www.nairaland.com/6931483/afcon-2021-mendy-koulibaly-out
https://www.nairaland.com/6931488/scenes-afcon-2021-opening-ceremony
https://www.nairaland.com/6931102/young-girl-killed-stray-bullet
https://www.nairaland.com/6931420/meet-youngest-players-afcon-2021
https://www.nairaland.com/6931015/new-anambra-airport-records-142
https://www.nairaland.com/6931410/buhari-signs-bills-establishing-adeyemi
https://www.nairaland.com/6930306/soldiers-beat-policeman-duty-ibadan
https://www.nairaland.com/6930966/national-assembly-leadership-behind-2022
https://www.nairaland.com/6931409/mummy-g.o-visit-olufunmilayo-adebayos
https://www.nairaland.com/6930931/gridlock-onitsha-people-travel-back
https://www.nairaland.com/6931167/liverpool-vs-shrewsbury-town-fa/2#109220673
https://www.nairaland.com/6930922/alexx-ekubo-before-giving-girls
https://www.nairaland.com/6930692/bobrisky-sent-out-benin-asking
https://www.nairaland.com/6930592/davido-looking-fly-friends-wedding
https://www.nairaland.com/6930581/woman-forced-offload-goods-underpants
https://www.nairaland.com/6930576/rock-collapse-tourists-during-boat
https://www.nairaland.com/6931293/commercial-driver-stabs-lovers-husband
https://www.nairaland.com/6931317/pictures-girls-supplied-bandits-sex
https://www.nairaland.com/6930591/almost-bitten-puff-adder-corn
https://www.nairaland.com/6930911/adetutu-ran-out-marriage-after
https://www.nairaland.com/6930938/addicted-pornography-promiscuity-banky-w
https://www.nairaland.com/6931050/ladies-fine-man-without-muscles
https://www.nairaland.com/6930735/bbc-interview-olufunmilayo-adebayo-mummy
https://www.nairaland.com/6931240/president-buhari-visit-ogun-state
https://www.nairaland.com/6931152/sanusi-lamido-visits-kogi-world
https://www.nairaland.com/6930904/serap-sues-lawan-gbajabiamila-over
https://www.nairaland.com/6930817/police-arrests-maryam-abubakar-supplying
https://www.nairaland.com/6930841/kori-bustard-collides-airlink-aircraft
https://www.nairaland.com/6930795/2023-senators-scheming-governorship-seats
https://www.nairaland.com/6930765/2023-jonathan-yet-get-backing
https://www.nairaland.com/6930787/akeredolu-urges-chicken-consumption-southwest
https://www.nairaland.com/6931043/ndlea-arrests-fake-security-agent
https://www.nairaland.com/6930871/timothy-adegoke-oriyomi-hamzat-should
https://www.nairaland.com/6930729/mohammed-zarma-rtd-deputy-comptroller
https://www.nairaland.com/6931048/obituary-woman-beaten-death-husband
https://www.nairaland.com/6930935/victor-osimhen-recovers-covid-19
https://www.nairaland.com/6930870/30-abducted-students-one-teacher
https://www.nairaland.com/6930622/covid-19-update-january-8-2021
https://www.nairaland.com/6930736/stop-these-sexual-acts-2022
https://www.nairaland.com/6927974/it-sin-married-people-watch
https://www.nairaland.com/6930638/what-think-born-again-brothers
https://www.nairaland.com/6930832/going-church-online-broadcast-service
https://www.nairaland.com/6930663/why-must-baptised-name-jesus
https://www.nairaland.com/6930325/goodluck-jonathan-coming-back-2023
/news/1
/news/2
/news/3
/news/4
/news/5
/news/6
/news/7
/news/8
/news/9
/news/10
/hopto/home/111
/hopto/home/11744
/hopto/home/14928
#up
/
http://www.seunosewa.com
https://www.nairaland.com/1049481/how-place-targeted-ads-nairaland

Let's scrape the image tags

In [18]:
for link in soup.find_all('img'):# in html image is represented by the tag <img>
    print(link)
    print(link.get('src'))

<img src="/images/project/socseti.png"/>
/images/project/socseti.png
<img src="/images/project/socseti_hover.png"/>
/images/project/socseti_hover.png
<img src="/images/project/ttg.png" title="Main"/>
/images/project/ttg.png
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img class="country_flag bordered" rel="flag" src="/images/flags/ng.gif" title="Nigeria"/>
/images/flags/ng.gif
<img alt="HotLog" border="0" src="https://hit2.hotlog.ru/cgi-bin/hotlog/count?s=2548708&amp;im=353"/>
https://hit2.hotlog.ru/cgi-bin/hotlog/count?s=2548708&im=353

Scrapping Data from HTML Tables

In [68]:
url="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"

In [69]:
# get the contents of the webpage in text format and store in a variable called olajuwondata
olajuwondata  = requests.get(url).text

In [70]:
soup = BeautifulSoup(olajuwondata,"html.parser")

In [71]:
#find a html table in the web page
table = soup.find('table') # in html table is represented by the tag <table>

In [72]:
#Get all rows from the table
for row in table.find_all('tr'): # in html table row is represented by the tag <tr>
    # Get all columns in each row.
    cols = row.find_all('td') # in html a column is represented by the tag <td>
    color_name = cols[2].string # store the value in column 3 as color_name
    color_code = cols[3].string # store the value in column 4 as color_code
    print("{}--->{}".format(color_name,color_code))

Color Name--->None
lightsalmon--->#FFA07A
salmon--->#FA8072
darksalmon--->#E9967A
lightcoral--->#F08080
coral--->#FF7F50
tomato--->#FF6347
orangered--->#FF4500
gold--->#FFD700
orange--->#FFA500
darkorange--->#FF8C00
lightyellow--->#FFFFE0
lemonchiffon--->#FFFACD
papayawhip--->#FFEFD5
moccasin--->#FFE4B5
peachpuff--->#FFDAB9
palegoldenrod--->#EEE8AA
khaki--->#F0E68C
darkkhaki--->#BDB76B
yellow--->#FFFF00
lawngreen--->#7CFC00
chartreuse--->#7FFF00
limegreen--->#32CD32
lime--->#00FF00
forestgreen--->#228B22
green--->#008000
powderblue--->#B0E0E6
lightblue--->#ADD8E6
lightskyblue--->#87CEFA
skyblue--->#87CEEB
deepskyblue--->#00BFFF
lightsteelblue--->#B0C4DE
dodgerblue--->#1E90FF

Scrape data from HTML tables into a DataFrame using BeautifulSoup and Pandas

In [73]:
import pandas as pd

In [85]:
#I chose a website that has data about gas emissions
url = "https://en.wikipedia.org/wiki/World_population"

In [86]:
# get the contents of the webpage in text format and store in a variable called data
data  = requests.get(url).text

In [87]:
soup = BeautifulSoup(data,"html.parser")

In [88]:
#find all html tables in the web page
tables = soup.find_all('table') # in html table is represented by the tag <table>

In [89]:
for index,table in enumerate(tables):
    if ("10 most densely populated countries" in str(table)):
        table_index = index
print(table_index)

5

In [90]:
population_data = pd.DataFrame(columns=["Rank", "Country", "Population", "Area", "Density"])

for row in tables[table_index].tbody.find_all("tr"):
    col = row.find_all("td")
    if (col != []):
        rank = col[0].text
        country = col[1].text
        population = col[2].text.strip()
        area = col[3].text.strip()
        density = col[4].text.strip()
        population_data = population_data.append({"Rank":rank, "Country":country, "Population":population, "Area":area, "Density":density}, ignore_index=True)

population_data

  Rank           Country   Population     Area Density
0    1         Singapore    5,704,000      710   8,033
1    2        Bangladesh  172,020,000  143,998   1,195
2    3  \n Palestine\n\n    5,266,785    6,020     847
3    4           Lebanon    6,856,000   10,452     656
4    5            Taiwan   23,604,000   36,193     652
5    6       South Korea   51,781,000   99,538     520
6    7            Rwanda   12,374,000   26,338     470
7    8             Haiti   11,578,000   27,065     428
8    9       Netherlands   17,680,000   41,526     426
9   10            Israel    9,460,000   22,072     428

Scrape data from HTML tables into a DataFrame using read_html

In [91]:
dataframe_list = pd.read_html(url, flavor='bs4')

In [92]:
len(dataframe_list)

26

In [93]:
dataframe_list[5]

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   172020000     143998              1195
2     3    Palestine     5266785       6020               847
3     4      Lebanon     6856000      10452               656
4     5       Taiwan    23604000      36193               652
5     6  South Korea    51781000      99538               520
6     7       Rwanda    12374000      26338               470
7     8        Haiti    11578000      27065               428
8     9  Netherlands    17680000      41526               426
9    10       Israel     9460000      22072               428

In [94]:
pd.read_html(url, match="Countries ranking highly in both total population", flavor='bs4')[0]  #I decided to change the parameter around to find another table

,Rank,Country,Population,Area(km2),Density(pop/km2),Population trend
0,1,India,1386620000,3287240,422,Growing
1,2,Pakistan,226280000,803940,281,Rapidly growing
2,3,Bangladesh,172020000,143998,1195,Rapidly growing
3,4,Japan,126010000,377873,333,Declining[99]
4,5,Philippines,111340000,300000,371,Growing
5,6,Vietnam,96209000,331689,290,Growing
6,7,United Kingdom,66436000,243610,273,Growing
7,8,South Korea,51781000,99538,520,Steady
8,9,Taiwan,23604000,36193,652,Steady
9,10,Sri Lanka,21803000,65610,332,Growing